.app{
    &__nav-menu{
        color: #333;
        font-size: 24px;
        background-color: rgb(205, 250, 145);
        padding: 12px;
    }

    &__list{
        border-bottom: 1px solid #333 ;
    }

    &__modal{
        padding: 12px;
        background-color: rgb(255, 243, 227);
>h4{
color: #333;

}
>p{
color: #333;

}


    }
}